.list {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    list-style: none;
    margin-bottom: 20px;
}

.list > li:not(:last-child){
    margin-bottom: 50px;
}

.input {
    margin: 0 auto;
    margin-left: 32%;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.newItems:not(:last-child){
    margin-right: 10%;
}
.inputAmount {
    margin-bottom: 20px;
}

.inputAmount:nth-last-child(2) {
    margin-top: 20px;
}

.button {
    display: block;
    margin: 0 auto;
    width: 298px;
    height: 60px;
    position: absolute;
    left: 40%;
}

.selectButton {
    display: block;
    width: 150px;
    margin-top: 20px;
    height: 50px;
    position: absolute;
    top: 14%;
    left: 59%;
}

.selectInput {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

.random {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* top: 60%;
    left: 64%; */
}

.random > div{
    margin-bottom: 30px;
}

.some {
    margin-left: 25%;
}


